<div class="container">
  <ul class="breadcrumb">
    <li>Creating an exercise:</li>
    <li><a href="<%=new_exercise_path%>">Select Task</a></li>
    <li><a href="<%=exercise_pick_audio_path(session[:current_exercise_id])%>">Choose Audio</a></li>
    <li class="active">Choose Audio: Select Forvo Results</li>
  </ul>
<table class="table table-striped">
  <tbody>
  <% @audio_choices.each do |choice| %>
    <tr>
      <td><%= Audio.format_forvo_js_for_insert(choice["id"]) %></td>
      <td>
        <%= form_tag audios_path do %>
          <%= hidden_field_tag "data", choice.to_json %>
          <button>Add Audio to Exercise</button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>I don't like any of these choices. Take me <%= link_to "back", exercise_pick_audio_path(session[:current_exercise_id]) %>.</p>
</div>

