<div class="container">
<h1>Add Exercises to your Lesson</h1>
<div class="container">
<%= form_tag lesson_add_exercise_path(@lesson) do |f| %>
<% #TODO: Support for adding multiple exercises %>
  Add an existing exercise to this lesson:
  <br>
  <% if @exercises != [] || nil %>
  <%=label_tag :exercise_id, "Exercise: " %>
  <%=select_tag :exercise_id, options_from_collection_for_select(@exercises, :id, :description) %>
  <br>
  <button>Add Exercise to Lesson</button>
  <br>
  <%= link_to "Create a new exercise", new_exercise_path %>
  <% else %>
  <p>You have not created any exercises.</p>
  <% end %>
<% end %>
</div>
<br>
<br>
<div class="container">
<%= link_to "Preview or Use Lesson for Course", lesson_path(@lesson) %>
<%= link_to "Back to Dashboard", root_path %>
<br>
<% #TODO select activity or assignment type upon creation %>
</div>
</div>
