<h1>Add Exercises to your Lesson</h1>
<div class="container">
<%= form_tag lesson_add_exercise_path(@lesson) do |f| %>
<% #TODO: Support for adding multiple exercises %>
  Choose an exercise to add to the lesson:
  <br>
  <% if @exercises != [] || nil %>
  <%=label_tag :exercise_id, "Exercise:" %>
  <%=select_tag :exercise_id, options_from_collection_for_select(@exercises, :id, :description) %>
  <br>
  <button>Add Exercise to Lesson</button>
  <% else %>
  <p>You have not created any exercises.</p>
  <%= link_to "Create an exercise to start.", new_exercise_path %>
  <% end %>
<% end %>
</div>
<br>
<div class="container">
<h3>Set Lesson as an Individual Assignment</h3>
<%= form_for @assignment, url: assignments_path do |f| %>
  <% #TODO static field showing course? %>
  <%=f.label :due_date, "Due Date: " %>
  <%=f.date_field :due_date %>
  <br>
  <%=f.label :due_time, "Due time: (note: default is midnight)." %>
  <%=f.time_field :due_time %>
  <br>
  <button>Set Assignment</button>
<% end %>
</div>
<br>
<div class="container">
<%= link_to "Back to Dashboard", root_path %>
<br>
<% #TODO select activity or assignment type upon creation %>
</div>
