<div class="container">
  <h5>Add Exercises to your Lesson</h5>
  <div class="container">
    <% #TODO: Change to edit/del exercises from lesson %>
    Add an existing exercise to this lesson:
    <br>
    <% if @exercises == [] || @exercises.nil? %>
        <p>You have not created any exercises.</p>
    <% else %>
      <%= form_tag lesson_add_exercise_path(@lesson) do |f| %>
      <%=label_tag :exercise_id, "Exercise: " %>
      <%=select_tag :exercise_id, options_from_collection_for_select(@exercises, :id, :description) %>
      <br>
      <button>Add Exercise to Lesson</button>
      <br>
      <% end %>
    <% end %>
  </div>
  <hr />
  <%= form_tag exercises_path do %>
    <%= label_tag :description, "Enter a description of your new exercise: " %>
    <br>
    <%= text_field_tag :description %>
    <br>
    <br>
    <%= hidden_field_tag :lesson_id, @lesson.id %>
    <button btn-primary>Create a new exercise for this lesson</button>
  <% end %>

  <br>
  <br>
  <div class="container">
    <%= link_to "Preview or Use Lesson for Course", lesson_path(@lesson) %>
    <%= link_to "Back to Dashboard", root_path %>
    <br>
  </div>
</div>
