<div class="container">
  <div class="row">
  <div class="col col-md-4"><%= render 'lesson_modal' %></div>
  <div class="col col-md-4"><%= render 'exercise_modal' %></div>
  <div class="row">
  <hr class="hr-primary" />
  <div class="container">
  <div class="row">
    <div class="col col-md-4">
      <div class="panel panel-primary" >
        <div class="panel-heading"><h5>Lessons</h5></div>
        <div class="panel-body">
          <h6><%= link_to "Make a new lesson", new_lesson_path %></h6>
          <h6><%= link_to "Edit an existing lesson", new_lesson_path %></h6>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="panel panel-primary" >
      <div class="panel-heading"><h5>Exercises</h5></div>
        <div class="panel-body">
          <h6><%= link_to "Edit an existing exercise", new_lesson_path %></h6>
        </div>
      </div>
    </div>

  </div>
  <hr class="hr-primary" />
  <div class="row" align="center">
    <div class="col col-lg-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Review an existing lesson</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped-hover">
            <thead>
              <th><%= link_to sortable "description" %></th>
              <th><%= link_to sortable "course_id", "Course" %></th>
              <th><%= link_to sortable "created_at", "Date Created" %></th>
            </thead>
            <tbody>
              <% @lessons.each do |l| %>
              <tr>
                <td><%= link_to l.description, lesson_path(l) %></td>
                <td><%= l.course.course_name %></td>
                <td><%= l.created_at.to_formatted_s(:long) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
