<div class="container">

  <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div id="sidebar">
      <div class='pull-right'><%= render 'ipa_sound_ref' %></div>
    </div>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="col col-md">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="init()">
            Set Lesson as an Individual Assignment
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
        <p>Setting lesson as an assignment for each student in the course: <strong><h6><%= @lesson.course.course_name %></h6></strong></p>
          <div class="container" id="create-assignment">
            <%= form_for @assignment, url: assignments_path do |f| %>
            <%=f.label :due_at, "Due On: " %>
            <%=f.date_field :due_at, :required => true %>
            <br>
            <p>Note: default closing time for assignment is midnight of the due date.</p>
            <br>
            <%=hidden_field_tag :course_id, @lesson.course_id %>
            <%=hidden_field_tag :lesson_id, @lesson.id %>
            <button>Set Assignment</button>
            <% end %>

          </div>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <%= link_to "Add Exercise to Lesson", lesson_choose_exercise_path(@lesson) %>
        </h4>
      </div>
    </div>
       <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <%= link_to "Back to Lessons Main", lessons_path %>
        </h4>
      </div>
    </div>
    </div>
  </div>

  <br>
    <div class="col">
      <p class="lead">This is the preview page for lesson <%= @lesson.id %></p>
    </div>


  <h2> '<%=@lesson.description %>'</h2>

  <table>
    <tbody>
      <% @exercises.each do |ex| %>
        <% @ex = ex %>
        <%= render exercise_layout_hash[@ex.exercise_code] %>
      <% end %>
    </tbody>
  </table>
  
</div>


