
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span><a class="navbar-brand" href="<%= root_path %>">LingLearn: [lIŋlrn]</a>
      <p class="lead"> <%= current_user.email %></p></span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">


    <%= menu_item "Lessons & Exercises", lessons_path %>
    <%= menu_item "Feedback & Assignments", exercises_path %>
    <%= menu_item "Manage Preferences", profile_dashboard_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to " Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-link' %></li>
      </ul>
    </div>
  </div>
</nav>





   
