<div class="container">
  <ul class="breadcrumb">
    <li><a href="#">Select Task</a></li>
    <li class="active">Choose Audio</li>
  </ul>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Find audio with Forvo
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div id="forvo-audio-params">
            <%= form_tag get_from_forvo_path do %>
            <%= label_tag :word, "Enter a word: " %>
            <%= text_field_tag :word, nil, :required => true %>
            <br>
            <%= label_tag :limit, "Choose the number of pronunciations to return: " %>
            <% numbers = (1..10).to_a %>
            <%= select_tag :limit, options_for_select(numbers, selected: nil) %>
            <br>
            <button>Get Options from Forvo</button>
            <% end %>
          </div>
          <!-- TODO AJAX the search results to here; help for inability to upload -->
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="init()">
          Record your own audio
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'audio_recorder' %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Use existing audio
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
          </thead>
          <tbody>
            <% @_existing_audio.each do |sound| %>
            <tr>
              <td><%= Audio.format_forvo_js_for_insert(sound.forvo_id) %></td>
              <td>
                <%= form_tag exercise_add_exist_audio_path do %>
                <%= hidden_field_tag "audio_id", sound.id %>
                <button>Add Audio to Exercise</button>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>