<!DOCTYPE html>
<html>
<head>
  <title>ToClassroomPhonetics</title>
<!--   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <div class="container">
    <% if current_user.admin? %>
      <%= render 'admin_nav' %>
    <% elsif current_user.teacher? %>
      <%= render 'teacher_nav' %>
    <% else %>
      <%= render 'student_nav' %>
    <% end %>
  </div>
  <br>
  <div class="container">
  <% flash.each do |flash_type, message| %>
    <div class="alert alert-<%= translate_to_bootstrap flash_type %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  </div>

</body>
</div>
</html>

