<!DOCTYPE html>
<html>
<head>
  <title>ToClassroomPhonetics</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <div class="container">
  <%= link_to " | Home ", root_path %>
  <% if current_user %>
  <span><%= " | #{current_user.email} " %></span>
    <div class="navbar-right">
      <%= button_to " Sign Out", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <%= link_to " | Sign In ", new_user_session_path %>
  <% end %>
  </div>
  <br>
  <div class="container">
  <% flash.each do |flash_type, message| %>
    <div class="alert alert-<%= translate_to_bootstrap flash_type %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  </div>

</body>
</div>
</html>

