<!DOCTYPE html>
<html>
<head>
  <title>LingLearn</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <% if current_user %>
    <% if current_user.admin? %>
      <%= render 'admin_nav' %>
    <% elsif current_user.teacher? %>
      <%= render 'teacher_nav' %>
    <% else %>
      <%= render 'student_nav' %>
    <% end %>
  <% else %>
    <% link_to "Log In", new_user_session_path %>
  <% end %>
  <br>
  <% flash.each do |flash_type, message| %>
    <div class="alert alert-<%= translate_to_bootstrap flash_type %>">
      <%= message %>
  <% end %>
  </div>
  <%= yield %>

  <!-- footer -->
  <div class="container">
    <div class="well-foot">
      LingLearn created by <a class='well-link' href='http://www.mallorybucell.com'>Mallory Bucell</a>.  IPA webkeyboard functionality from <a href='http://help.keyman.com/products/web/' class='well-link'>KeymanWeb</a> by Tavultesoft. Base for IPA sound chart from IPA Keyboard by <a class='well-link' href='https://github.com/westonruter/ipa-chart' >Weston Ruter</a>.
      <p><a href="http://www.forvo.com/" title="Pronunciations by Forvo"><img src="http://api.forvo.com/byforvo.gif" width="120" height="40" alt="Pronunciations by Forvo" class='well-link' style="border:0" /></a></p>
    </div>
  </div>
</body>
</div>
</html>

