<!DOCTYPE html>
<html>
<head>
  <title>ToClassroomPhonetics</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <% if current_user %>
    <% if current_user.admin? %>
      <%= render 'admin_nav' %>
    <% elsif current_user.teacher? %>
      <%= render 'teacher_nav' %>
    <% else %>
      <%= render 'student_nav' %>
    <% end %>
  <% end %>
  <br>
  <% flash.each do |flash_type, message| %>
    <div class="alert alert-<%= translate_to_bootstrap flash_type %>">
      <%= message %>
  <% end %>
  </div>
  <%= yield %>

  <!-- footer -->
  <div class="container">
    <div class="well-foot">
      Look, I'm in a well!
    </div>
  </div>
</body>
</div>
</html>

